# ============================================================
# FORGE MASTER — Pets actifs (modifiable a la main)
# ============================================================

[PET1]
hp_flat              = 0
damage_flat          = 0
health_pct           = 0.0
damage_pct           = 0.0
melee_pct            = 0.0
ranged_pct           = 0.0
taux_crit            = 0.0
degat_crit           = 0.0
health_regen         = 0.0
lifesteal            = 0
double_chance        = 0.0
vitesse_attaque      = 0
skill_damage         = 0.0
skill_cooldown       = 0.0
chance_blocage       = 0.0

[PET2]
hp_flat              = 0
damage_flat          = 0
health_pct           = 0.0
damage_pct           = 0.0
melee_pct            = 0.0
ranged_pct           = 0.0
taux_crit            = 0.0
degat_crit           = 0.0
health_regen         = 0.0
lifesteal            = 0.0
double_chance        = 0.0
vitesse_attaque      = 0
skill_damage         = 0.0
skill_cooldown       = 0.0
chance_blocage       = 0

[PET3]
hp_flat              = 0
damage_flat          = 0
health_pct           = 0.0
damage_pct           = 0.0
melee_pct            = 0.0
ranged_pct           = 0.0
taux_crit            = 0.0
degat_crit           = 0.0
health_regen         = 0
lifesteal            = 0
double_chance        = 0.0
vitesse_attaque      = 0.0
skill_damage         = 0.0
skill_cooldown       = 0.0
chance_blocage       = 0.0

