# ============================================================
# FORGE MASTER — Profil joueur (modifiable a la main)
# ============================================================

[JOUEUR]
hp_total             = 0
attaque_total        = 0
hp_base              = 0
attaque_base         = 0
health_pct           = 0
damage_pct           = 0
melee_pct            = 0
ranged_pct           = 0
taux_crit            = 0
degat_crit           = 0
health_regen         = 0
lifesteal            = 0
double_chance        = 0
vitesse_attaque      = 0
skill_damage         = 0
skill_cooldown       = 0
chance_blocage       = 0
type_attaque         = None
skills               = None

